<button class="btn btn-danger btn-sm action-button" (click)="addUniversite()">
  Ajouter universite
</button>
<div class="input-group mt-2">
  <div class="input-group-prepend">
    <span class="input-group-text">
      <i class="material-icons">search</i>
    </span>
  </div>
  <input [(ngModel)]="searchTerm" placeholder="Rechercher universites" class="form-control">
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID de universite</th>
      <th>nom de universite</th>
      <th>adresse</th>


      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let un of filtereduniversites">
      <td>{{ un.idUniversite }}</td>
      <td>{{ un.nomUniversite }}</td>
      <td>
        {{un.adresse}}
      </td>

      <td>
        <button class="btn btn-warning btn-sm action-button" (click)="updateUniversite(un.idUniversite)">
          <i class="fas fa-edit"></i> Modifier
        </button>
        <button class="btn btn-danger btn-sm action-button" (click)="removeUniversite(un)">
          <i class="fas fa-trash-alt"></i> Supprimer
        </button>
      </td>
    </tr>
  </tbody>
</table>
