<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
<form [formGroup]="addRes" (ngSubmit)="onSubmit()" class="form-container">
  <div *ngIf="formSubmitted && !addRes.valid" class="alert alert-danger">
    Les champs ne sont pas tous remplis.
  </div>
  <h2>
    <i class="bi bi-bookmark-plus" style="font-size: 30px; color: #8D19AA; margin-right: 10px;"></i>
    Faire une réservation
  </h2>
  <hr class="my-4"> <!-- Thin line -->

  <!-- Nombre des lits demandés -->
  <div class="mb-3">
    <label for="id" class="form-label">
      <i class="bi bi-person" style="font-size: 20px; color: #8D19AA; margin-right: 8px;"></i>
      Nombre des lits demandés:
    </label>
    <input type="text" id="id" formControlName="idReservation" class="form-control">
    <div *ngIf="formSubmitted && addRes.get('idReservation')?.hasError('required')" class="text-danger">
      Le champ "Nombre des lits demandés" est requis.
    </div>
  </div>

  <!-- Année Universitaire -->
  <div class="mb-3">
    <label for="dateInput" class="form-label">
      <i class="bi bi-calendar" style="font-size: 20px; color: #8D19AA; margin-right: 8px;"></i>
      Année Universitaire:
    </label>
    <input type="date" id="dateInput" formControlName="anneeUniversite" class="form-control">
    <div *ngIf="formSubmitted && addRes.get('anneeUniversite')?.hasError('required')" class="text-danger">
      Le champ "Année Universitaire" est requis.
    </div>
  </div>

  <!-- Vouz validez cette réservation ? -->
  <div class="mb-3">
    <label for="validez" class="form-label">
      <i class="bi bi-check-square" style="font-size: 20px; color: #8D19AA; margin-right: 8px;"></i>
      Vouz validez cette réservation ?
    </label>
    <div *ngIf="formSubmitted && addRes.get('estValide')?.hasError('required')" class="text-danger">
      Le champ "Vouz validez cette réservation ?" est requis.
    </div>
  </div>

  <!-- Radio Buttons -->
  <div class="form-check">
    <input type="radio" id="trueValue" formControlName="estValide" [value]="false" class="form-check-input" [checked]="addRes.controls['estValide'].value === false" (change)="addRes.controls['estValide'].setValue(false)">
    <label class="form-check-label" for="trueValue">Non</label>
  </div>

  <div class="form-check">
    <input type="radio" id="falseValue" formControlName="estValide" [value]="true" class="form-check-input" [checked]="addRes.controls['estValide'].value === true" (change)="addRes.controls['estValide'].setValue(true)">
    <label class="form-check-label" for="falseValue">Oui</label>
  </div>

  <!-- Commentaire -->
  <div class="mb-3">
    <label for="comment" class="form-label">
      <i class="bi bi-chat-dots" style="font-size: 20px; color: #8D19AA; margin-right: 8px;"></i>
      Commentaire :
    </label>
    <textarea id="comment" formControlName="commentaire" rows="4" class="form-control"></textarea>
    <div *ngIf="formSubmitted && addRes.get('commentaire')?.hasError('required')" class="text-danger">
      Le champ "Commentaire" est requis.
    </div>
  </div>

  <!-- Submit Button -->
  <button type="submit" class="btn btn-primary">
    <i class="bi bi-plus" style="font-size: 20px; color: #fff; margin-right: 8px;"></i>
    Reserver
  </button>

  <!-- Display the global error message only if the form is submitted -->

</form>
