<!-- <button class="btn btn-success btn-sm action-button" (click)="addfoyer()">
  Ajouter réservation
</button>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Année Universitaire</th>
      <th>iduniversite</th>
      <th>Est Valide ?</th>
      <th>Commentaire</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let foy of foyer">
      <td>{{ foy.idfoyer }}</td>
      <td>{{ foy.anneeUniversite | date:'yyyy-MM-dd' }}</td>
      <td>{{foy.universite.iduniversite }}</td>
      <td>
        <span class="badge badge-info" style="color: black;">{{ fou.estValide ? 'Oui' : 'Non' }}</span>
      </td>
      <td>{{ foy.commentaire }}</td>
      <td>
        <button class="btn btn-primary btn-sm action-button" (click)="showDetails(foy.idfoyer)" >
          <i class="fas fa-info-circle"></i> Détails
        </button>
        <button class="btn btn-warning btn-sm action-button" (click)="editfoyer(foy.idfoyer)">
          <i class="fas fa-edit"></i> Modifier
        </button>
        <button class="btn btn-danger btn-sm action-button" (click)="deletefoyer(foy)">
          <i class="fas fa-trash-alt"></i> Supprimer
        </button>
      </td>
    </tr>
  </tbody>
</table> -->
<!-- <div class="container mt-4">
  <button class="btn btn-success btn-sm action-button" (click)="addfoyer()">
    Ajouter réservation
  </button>
  <div class="input-group mt-2">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="material-icons">search</i>
      </span>
    </div>
    <input [(ngModel)]="searchTerm" placeholder="Rechercher réservations" class="form-control">
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Année Universitaire</th>
        <th>Est Valide ?</th>
        <th>Commentaire</th>
        <th>universite Reservé</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let foy of filteredfoyers">
        <td>{{ foy.idfoyer }}</td>
        <td>{{ foy.anneeUniversite | date:'yyyy-MM-dd' }}</td>
        <td>
          <span class="badge badge-info" style="color: black;">{{ foy.estValide ? 'Oui' : 'Non' }}</span>
        </td>
        <td>{{ foy.commentaire }}</td>
        <span *ngIf="foy.universite">universite {{ foy.universite.numerouniversite }}</span>
        <td>
          <button class="btn btn-primary btn-sm action-button" (click)="showDetails(foy.idfoyer)">
            <i class="fas fa-info-circle"></i> Détails
          </button>
          <button class="btn btn-warning btn-sm action-button" (click)="editfoyer(foy.idfoyer)">
            <i class="fas fa-edit"></i> Modifier
          </button>
          <button class="btn btn-danger btn-sm action-button" (click)="deletefoyer(foy)">
            <i class="fas fa-trash-alt"></i> Supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
<div class="container mt-4">
  <button class="btn btn-success btn-sm action-button" (click)="addFoyer()">
    Ajouter Foyer
  </button>
  <div class="input-group mt-2">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="material-icons">search</i>
      </span>
    </div>
    <input [(ngModel)]="searchTerm" placeholder="Rechercher réservations" class="form-control">
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>nomFoyer</th>
        <th>archived</th>
        <th> capaciteFoyer</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let foyer of filteredfoyer">
        <td>{{ foyer.idFoyer }}</td>
        <td>{{ foyer.nomFoyer  }}</td>
        <td>
          <span class="badge badge-info" style="color: black;">{{ foyer.archived ? 'Oui' : 'Non' }}</span>
        </td>
        <td>{{foyer.capaciteFoyer }}</td>

        <td>

          <button class="btn btn-warning btn-sm action-button" (click)="updateFoyer(foyer.idFoyer)">
            <i class="fas fa-edit"></i> Modifier
          </button>
          <button class="btn btn-danger btn-sm action-button" (click)="removeFoyer(foyer)">
            <i class="fas fa-trash-alt"></i> Supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

