.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.custom-card {
  max-width: 600px; /* Increased max-width */
  width: 100%;
  padding: 50px; /* Increased padding for more space */

  .separator {
    display: flex;
    align-items: center;
    margin-bottom: 30px; /* Increased margin */

    &::before,
    &::after {
      content: "";
      flex: 1;
      border-bottom: 2px solid #ccc; /* Increased border thickness */
      margin: 0 15px; /* Increased margin */
    }

    i {
      font-size: 2em; /* Increased font size */
      color: #007bff;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the form elements */

    margin-top: 30px; /* Increased margin */

    /* Make the form elements larger and wider */
    input,
    button,
    a {
      min-height: 60px; /* Increased height */
      width: 100%; /* Make the input and button 100% width */
      font-size: 1.5em; /* Increased font size */
    }

    /* Hover effect for form fields */
    input:hover,
    a:hover {
      border-color: #007bff; /* Change border color on hover */
    }

    /* Hover effect for the button */
    button {
      background-color: #007bff;
      color: #fff;
      transition: all 0.3s ease-in-out; /* Add transition for smooth effect */
    }

    button:hover {
      transform: scale(1.1); /* Make the button 10% bigger on hover */
    }
  }
}
