
<div class="container mt-4">
  <button class="btn btn-success btn-sm action-button" (click)="ajouterFeedback()">
    Ajouter feedback
  </button>
  <div class="input-group mt-2">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="material-icons">search</i>
      </span>
    </div>
    <input [(ngModel)]="searchTerm" placeholder="Rechercher réservations" class="form-control">
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>commentaire</th>
        <th>idFoyer</th>
        <th> idUniversite</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let feedback of filteredfeedback">
        <td>{{ feedback.id }}</td>
        <td>{{ feedback.commentaire  }}</td>
        <td>1</td>
        <td>1</td>


      </tr>
    </tbody>
  </table>
</div>

